.row .home-img {
    margin-bottom: 6px;
}


.home-img-top-bg {
    width: 100%;
    height: 300px;
    background: url("../images/1200x300.png") no-repeat center top;
}

.home-search {
    margin-top: 150px;
    float: none;
    margin: 150px auto;
}
